    /*GENERAL*/
    .p {
        border: 1px solid dodgerblue;
        border-radius: .5rem;
        padding: .5rem;
        margin: 1rem 5rem;
        font-size: 15px;
        line-height: 21px;
    }

    .hidden {
        display: none;
    }

    /*DEFINITION GROUP*/
    .def-div {
        background-color: dodgerblue;
        position: fixed;
        z-index: 99999999;
        min-width: 100%;
        height: 32px;
        top: 0;
        text-align: left;
    }

    .def-span {
        padding: 0 0 12px 4px;
        text-align: center;
        color: blue;
        font-weight: bold;
        font-style: italic;
        margin: 0.5rem;
    }

    .def-help {
        font-style: italic;
        margin: 0.5rem;
    }

    /*TOOLTIPS*/
    .def-tooltip {
        position: relative;
        transition: all 0.3s ease;
        text-decoration: none;
        cursor: grabbing;
        z-index: 999999;
    }

    .def-tooltip:before {
        content: "";
        position: absolute;
        opacity: 0;
        pointer-events: none;
        left: 50%;
        top: -2px;
        transform: translate3d(-50%, 20px, 0);
        transition: all 0.3s ease;
        transition-delay: 1.2s;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent dodgerblue transparent;
    }

    .def-tooltip:after {
        /* font-family: 'Courier New', Courier, monospace; */
        text-transform: none;
        content: attr(data-tooltip);
        font-size: 11px;
        line-height: 14px;
        position: absolute;
        color: white;
        font-weight: bold;
        background: dodgerblue;
        padding: 4px 8px;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        max-width: 200px !important;
        white-space: pre-line;
        opacity: 0;
        pointer-events: none;
        left: 50%;
        border-radius: 4px;
        transform: translate3d(-50%, 30px, 0);
        transition: all 0.3s ease;
        transition-delay: 1.2s;
    }

    .def-tooltip:hover {
        background-color: rgba(0, 0, 0, 0.12);
    }

    .def-tooltip:hover:before,
    .def-tooltip:hover:after {
        opacity: 1;
    }

    /* .def-tooltip:hover:before {
        transform: translate3d(-50%, calc(-50% - 4px), 0);
    }

    .def-tooltip:hover:after {
        transform: translate3d(-50%, calc(-80% - 16px), 0);
    } */

    .def-tooltip .def-tooltip-content::before {
        background-color: dodgerblue;
        content: "";
        height: 10px;
        position: absolute;
        transform: rotate(135deg);
        /*was 45*/
        width: 10px;
    }

    .def-tooltip-not-found:after {
        color: white;
        font-weight: bold;
        background: red;
    }

    .def-tooltip-not-found:before {
        border-color: transparent transparent red transparent;
    }

    /*TOGGLE SWITCH*/
    input[type=checkbox],
    .def-input {
        margin: 0;
        -webkit-appearance: none;
        appearance: none;
        padding: 0 0 0 30px;
        border-radius: 16px;
        background: radial-gradient(circle 12px, white 100%, transparent calc(100% + 1px)) #ccc -16px;
        transition: 0.3s ease-in-out;
        position: inherit;
        height: 32px;
        width: 64px;
        top: 0;
        bottom: 0;
        box-shadow: none;
    }

    .def-input::before {
        content: "OFF";
        font: bold 12px/32px Verdana;
        color: white;
        text-shadow: 0 1px black;
    }

    .def-input:checked {
        padding: 0 0 0 8px;
        background-color: rgb(37, 151, 62);
        background-position: 16px;
        height: 32px;
        width: 64px;
    }

    .def-input:checked::before {
        content: "ON";
    }