/*GENERAL*/
.p {
    border: 1px solid dodgerblue;
    border-radius: .5rem;
    padding: .5rem;
    margin: 1rem 5rem;
    font-size: 15px;
    line-height: 21px;
}

.hidden {
    display: none;
}

/*DEFINITION GROUP*/
.def-div {
    background-color: dodgerblue;
    position: fixed;
    z-index: 99999999;
    min-width: 100%;
    height: 32px;
    top: 0;
    text-align: left;
}

.def-span {
    padding: 0 0 12px 4px;
    text-align: center;
    color: blue;
    font-weight: bold;
    font-style: italic;
    margin: 0.5rem;
}

.def-help {
    font-style: italic;
    margin: 0.5rem;
}

.def-audio {
    width: 20px;
    height: 20px;
    margin-bottom: -.3rem;
    padding-left: 4px;
}
/*TOOLTIPS*/
.def-tooltip {
    content: (data-tooltip);
    position: relative;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
    cursor: -webkit-grabbing;
    cursor: grabbing;
    z-index: 999999;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.def-tooltip-not-found {
    color: white;
    font-weight: bold;
    background: red;
}

/*TOGGLE SWITCH*/
input[type=checkbox],
.def-input {
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
            appearance: none;
    padding: 0 0 0 30px;
    border-radius: 16px;
    background: -o-radial-gradient(circle 12px, white 100%, transparent calc(100% + 1px)) #ccc -16px;
    background: radial-gradient(circle 12px, white 100%, transparent calc(100% + 1px)) #ccc -16px;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    position: inherit;
    height: 32px;
    width: 64px;
    top: 0;
    bottom: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.def-input::before {
    content: "OFF";
    font: bold 12px/32px Verdana;
    color: white;
    text-shadow: 0 1px black;
}

.def-input:checked {
    padding: 0 0 0 8px;
    background-color: rgb(37, 151, 62);
    background-position: 16px;
    height: 32px;
    width: 64px;
}

.def-input:checked::before {
    content: "ON";
}